<log4net debug="true">
  <!-- RollingLogFile Appenders -->
  <appender name="ErrorLogAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="wwwroot\Logs\%property{CurDate}\ErrorLogs\%property{ErrorLogName}.log" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %M - %message%newline" />
    </layout>
  </appender>
  <appender name="SuccessLogAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="wwwroot\Logs\%property{CurDate}\SuccessLogs\%property{SuccessLogName}.log" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %M - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
  </root>
  <logger name="ErrorLog" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="ErrorLogAppender" />
  </logger>
  <logger name="SuccessLog" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="SuccessLogAppender" />
  </logger>
</log4net>